html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: #087ddd;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background: linear-gradient(90deg, #4b6cb7, #182848); /* gradiente bonito */
  color: white;
  padding: 25px 20px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 600;
  transition: color 0.3s;
}

nav a:hover {
  color: #ffcc00; /* muda a cor ao passar o mouse */
}
nav a:hover {
  text-decoration: underline;
}

section {
    background-color: #fff;
    margin: 30px auto;
    padding: 60px 20px;
    max-width: 900px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15); /* sombra mais suave */
    transition: transform 0.3s;
}

section:hover {
  transform: translateY(-5px); /* efeito leve ao passar o mouse */
}

form input, form textarea {
  width: 80%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #bbb;
}

form button {
  padding: 12px 25px;
  border: none;
  background-color: #4b6cb7;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

form button:hover {
  transform: scale(1.1);
  background-color: #182848;
}


.container{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 200%;
  gap: 16px;
  transition: 0.3s;
}

.container li{
  position: relative;
  overflow: hidden;
  flex: 0 0 80px;
  border-radius: 50px;
  cursor: pointer;
  border-radius: 10px;
  border: 1.2px solid #eee;
   box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.4),
   -2px -5px 10px rgba(0, 0, 0, 0.1);
}

.container li img{
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container li,
.container li img
{
  transition: 0.3s;
}
.container li .content {
  transition: 1.5s ease;
}
#servicos {
  text-align: center;
  padding: 50px;
  background-color: #f9f9f9;
}

.veleiros {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.veleiros img {
  width: 100%;
  max-width: 250px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  transition: transform 0.3s ease-in-out;
}
.veleiros img:hover{
  transform: translate(-10px);
}